@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.footer{
    text-align: center;
    font-style: italic;
    font-family: 'Poppins';
    font-size: smaller;
    color: rgb(182, 35, 35);
    position: sticky;
}