@import url('https://cdnjs.cloudflare.com/ajax/libs/skeleton-framework/1.1.1/skeleton.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.background{
    
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    
}
button{
    border-radius: 5px;
    font-size:12px;
}
input{
    font-size: small;
}

.partbut{    
    float:right; 
    color:white;
    height: fit-content; 
}


.add1 h1{
    font-size: 22px;
    letter-spacing: 4px;
    font-family: 'Poppins';
    
}



input.ng-pristine {
    border-color:#C3C6CD;
}


.fullcontentonly{ 
    display: block;
    margin-left: auto;
    margin-right: auto; 
    position: relative;
    width:60%;
    font-size: 12px;
    font-family: 'Poppins';    
    top:35px;
    padding-top: 10px; 
    padding-bottom:25px; 
    padding-left: 25px;
     padding-right: 25px;  
     background-color: whitesmoke;
     box-shadow: 0 0 5px gray;
    border-radius:10px;
}
.row{
    padding-top: 10px;
    }
    button{
        font-weight: lighter;
        font-family: 'Poppins';  
    }

    label{
        font-style: normal;
        font-weight: lighter !important;
        font-family: 'Poppins';
    }

    input{
        height: 30px;
    }
    select{
        height: 30px;
    }