<center>
    <div class="row">    
      <form method="POST" action="/admin/createproduct" enctype="multipart/form-data">
          productname: <br><input type="text" required name="productname" >
          <br>                
          barcodeorqrcode: <br>    <input type="text" required name="barcodeorqrcode" >
          <br>                
          cId:  <br>   <input type="text" required name="cId" >
          <br>
          Image:  <br>   <input type="file" name="image" required style="margin-left: 10%;" >
                                        
         
          <br>
          <button style="background-color: green;color: white;">Add</button>
      </form>
    </div>
    </center>