<center>
    <div class="row">    
      <form method="POST" action="/admin/updateproduct" enctype="multipart/form-data">
          productname: <br>
          <input type="text"  name="productname" >
          <br>                
          barcodeorqrcode: <br>   
           <input type="text"  name="barcodeorqrcode" >
          <br>   
          cId:  <br>   
          <input type="text"  name="cId" >
          <br>             
          pId:  <br>   
          <input type="text"  name="pId" >
          <br>
          Image:  <br>   
          <input type="file" name="image"  style="margin-left: 10%;" >
            
          <br>
          <button style="background-color: green;color: white;">Add</button>
      </form>
    </div>
    </center>